!!$HOME/.Xresources
!!
!!

!!--**--{== URxvt Configuration Section ==}--**--
!! Title
URxvt.title:URxvt-Flinki

!! Setting of Xft font
Xft.dpi:96

Xft.antialias:True

Xft.hinting:Full

Xft.hintstyle:hintslight

Xft.rgba:rgb

!! Setting of encoding
Rxvt.multichar_encoding:utf-8

Rxvt.imLocale:zh_CN.UTF-8

!! Urxvt boot fast
URxvt.preeditType:Root

!!调整此处设置输入法

URxvt.inputMethod:fcitx

!!颜色设置

URxvt.depth:32

!!中括号内数表示透明度

URxvt.background:[50]Black

URxvt.foreground:White 


URxvt.geometry: 86x30+180+200


URxvt.colorBD:Gray95

URxvt.colorUL:Green

URxvt.color1:Red2

URxvt.color4:RoyalBlue

URxvt.color5:Magenta2

URxvt.color8:Gray50

URxvt.color10:Green2

URxvt.color12:DodgerBlue

URxvt.color14:Cyan2

URxvt.color15:Gray95

!!URL操作
!!--*-- Perl extensions --*--

URxvt.perl-ext-common:default,clipboard,matcher,keyboard-select,tabbed

URxvt.keysym.M-u:Perl:url-select:select_next

URxvt.urlLauncher:firefox

URxvt.underlineURLs:True

URxvt.matcher.button:1

URxvt.keysym.M-Escape:perl:keyboard-select:activate

URxvt.keysym.M-c:perl:clipboard:copy

URxvt.keysym.M-v:perl:clipboard:paste

URxvt.keysym.M-C-v:perl:clipboard:paste_escaped


URxvt.tabbed.tab-fg:12

URxvt.tabbed.tab-bg:0

URxvt.tabbed.tabber:4

!!滚动条设置

URxvt.scrollBar:True

URxvt.scrollBar_right:True

URxvt.scrollBar_floating:False

URxvt.scrollstyle:plain

!!滚屏设置

URxvt.mouseWheelScrollPage:True

URxvt.scrollTtyOutput: False

URxvt.scrollWithBuffer: True

URxvt.scrollTtyKeypress: True

!!光标闪烁

URxvt.cursorBlink:True

URxvt.saveLines:5000

URxvt.borderLess:False

!!字体设置

!!-*-{ Fonts settings

URxvt.font:xft:Bitstream Vera Sans Mono-12,xft:WenQuanYi Bitmap Song-12

URxvt.boldFont:xft:Bitstream Vera Sans Mono-12:Bold,xft:WenQuanYi Bitmap Song-12:Bold
!!-*-}


!! The string will be interpreted as if typed into the shell as-is.
!! In this example, printing will be disabled altogether.

!URxvt.print-pipe: "cat > /dev/null"

!!--**--{== End Of URxvt Configuration Section ==}--**--


!!--**--{== Start Of XTerm Configuraton Section ==}--**-- 
! Modified by Flinki Wong on CST=2024-03-11T22:13 at Shenzhen CN

! Set the name of xterm
!XTerm.termName: xterm-256color

! Setup for UTF-8
!XTerm.vt100.locale: true
!XTerm.vt100.utf8: true

! Use a nice truetype font and size by default... 
xterm*faceName: Bitstream Vera Sans Mono 
xterm*faceSize: 12

! Every shell is a login shell by default (for inclusion of all necessary environment variables)
xterm*loginshell: true

! I like a LOT of scrollback...
xterm*savelines: 16384

! double-click to select whole URLs :D
xterm*charClass: 33:48,36-47:48,58-59:48,61:48,63-64:48,95:48,126:48

! DOS-box colours...
xterm*foreground: rgb:a8/a8/a8
xterm*background: rgb:00/00/00
xterm*color0: rgb:00/00/00
xterm*color1: rgb:a8/00/00
xterm*color2: rgb:00/a8/00
xterm*color3: rgb:a8/54/00
xterm*color4: rgb:00/00/a8
xterm*color5: rgb:a8/00/a8
xterm*color6: rgb:00/a8/a8
xterm*color7: rgb:a8/a8/a8
xterm*color8: rgb:54/54/54
xterm*color9: rgb:fc/54/54
xterm*color10: rgb:54/fc/54
xterm*color11: rgb:fc/fc/54
xterm*color12: rgb:54/54/fc
xterm*color13: rgb:fc/54/fc
xterm*color14: rgb:54/fc/fc
xterm*color15: rgb:fc/fc/fc

! right hand side scrollbar...
xterm*rightScrollBar: true
xterm*ScrollBar: true

! stop output to terminal from jumping down to bottom of scroll again
xterm*scrollTtyOutput: false

!!--**--{== End Of XTerm Configuration Section ==}--**--
